.Painting-list-item {
  margin-right: 30px;
  list-style: none;
  border: 1px black solid;
  border-radius: 4px;
  padding: 8px;
}

.Painting-list-item:hover {
  cursor: pointer;
  background-color: rgb(255, 245, 231);
}
